backend/build/
backend/hsedd
backend/hsed
*.o
*.obj

tui/hsed
tui/hsed-static
/tui/*.test
/tui/*.prof


packaging/hsed_*_amd64/
packaging/*.deb
packaging/*.buildinfo
packaging/*.changes
packaging/vendor-build/

*.sock
*.pid

.DS_Store
Thumbs.db
*.swp
*.swo
.vscode/
.idea/